{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Content Collector</h1>
        <div class="row center">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="date1" type="date" class="datepicker">
                  <label for="date1" data-error="wrong" data-success="right">Start period</label>
                  <input id="date2" type="date" class="datepicker">
                  <label for="date2" data-error="wrong" data-success="right">End period</label>
                  <input id="email" type="email" class="validate">
                  <label for="email" data-error="wrong" data-success="right">Email</label>
                </div>
              </div>
            </form>
        <!--   <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a> -->
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{% static "background3.jpg"%}" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">What you need to do?</h5>

            <p class="light">You just need install some new modules in your virtualenv, than start it. Oh, do not forget to start celery with long_job.py module. And start Redis. And this server too.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Used frameworks</h5>

            <p class="light">I have to used framework Django, beautifulsoup4, requests, celery and xhtml2pdf.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">Just use this form and push the button.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static "js/materialize.js" %}"></script>
  <script src="{% static "js/init.js" %}"></script>
  <script type="text/javascript"> $('.datepicker').pickadate({
    selectMonths: true,
    selectYears: 15
  });</script>

  </body>
</html>
